.btn-message {
  background-color: #4141a3;
}

.btn-message:hover {
  background-color: #2e2e7a;
}
.message {
  width: 500px;
  height: 100px;  
  padding: 10px 0px 60px 15px;
  text-align: left;
}
